.tasks {
  & > .task-input {
    & input {
      width: 100%;
      padding: 15px;
      border: none;
      border-bottom: solid 1px #ddd;
      outline: none;
      margin-bottom: 15px;
      font-size: 100%;
      font-weight: lighter;
      box-sizing: border-box;
    }

    & input.error {
      color: red;
      border-color: red;
    }

    & .error-msg {
      display: block;
      color: red;
      margin-bottom: 15px;
    }
  }
}