@import "components/Todo";
@import "components/Task";

body, html {
  margin: 0;

  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .container {
      width: 600px;
    }
  }
}

